@use "variaveis";

.hero {
    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 100px;
    position: relative;

    .container {
        position: relative;
    }
    
    &::before {
        content: "";
        background-color: variaveis.$corTextoSecundario;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .7;
        width: 100%;
        height: 100%;
    }

    &__logo {
        display: block;
        margin: 0 auto;
        height: 80px;
        filter: grayscale(10);
        
    }

    &__text {
        @include variaveis.text(40px);
        text-align: center;
        margin-top: 64px;
        margin-bottom: 64px;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            height: 40px;
        }

        &__text {
            @include variaveis.text(22px);
            margin: 24px 0;
        }
    }
}